html {
   font:16px;
    background:rgba(60,192,215,1);
}


img.large align-right{
    padding-left:10px;
     border:10px;
    margin-right:10px;
}
    
    
   figcaption{
       font font-family: fantasy;
       
}



    


